@import "setup";
// Variables
$SpruceGreen: #0C5F4c;
$GreenishCyan: #50E3C2;
$TwilightBlue: #063974;
$LightLightBlue: #D2F9F1;
$IceBlue: #FAFFFE;
$Black: #2C2C2C;
// Style Stripping and defaults
html {
    font-size: 62.5%;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

header {
    height: 75vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

nav {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: $IceBlue;
    line-height: 29px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    padding-top: 10px;
}

nav ul li {
    padding: 10px;
    margin-left: 10px;
}

// General Form striping and styling
form {
    text-align: center;
    margin-bottom: 50px;
}

form input {
    border: none;
    border-bottom: 1px solid $GreenishCyan;
    background-color: inherit;
}

form button {
    border: none;
    width: 99%;
}

input[type="text"],
input[type="email"] {
    width: calc((100% / 2) - 15px);
    height: 50px;
    margin-bottom: 30px;
    padding: 5px;
}

input[type="text"] {
    margin-right: 15px;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 2px;
}

form textarea {
    border: 1px solid $GreenishCyan;
    width: 99%;
    height: 200px;
    padding: 10px;
    margin-bottom: 30px;
    resize: none;
}

// end forms
// Index Page, Header Section
.logo {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-style: italic;
    color: $GreenishCyan;
    font-size: 3.46rem;
    padding-top: 10px;
}

.indexHeader {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .wrapper {
        position: relative;
    }
    .title {
        font-family: 'Playfair Display SC', serif;
        font-weight: 900;
        font-style: italic;
        font-size: 11.12rem;
        color: $TwilightBlue;
    }
    .indexHeading {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 6.2rem;
        letter-spacing: 6.7px;
        color: $SpruceGreen;
    }
    .titleContainer {
        width: 100%;
        height: 100%;
        margin-top: 15%;
        margin-left: 35%;
        position: relative;
        z-index: 1;
    }
    .headerImgContainer {
        width: 45%;
        position: absolute;
        top: 25%;
        z-index: 0;
        min-width: 600px;
    }
}

// Index About Section
.findMore,
.readMore,
.contactSubmit,
.postComment {
    padding: 10px;
    background-color: $TwilightBlue;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 1px;
    color: $IceBlue;
}

.about {
    background-color: $IceBlue;
    padding: 100px 0 75px 0;
    .wrapper {
        display: flex;
    }
    .aboutImgContainer {
        width: 30%;
        img {
            box-shadow: -15px 15px $GreenishCyan;
        }
    }
    .aboutContainer {
        width: 70%;
        padding-right: 50px;
    }
    h2 {
        font-family: 'Lato', sans-serif;
        font-size: 6.2rem;
        font-weight: bold;
        line-height: 58px;
        letter-spacing: 3.8px;
        color: $SpruceGreen;
    }
}

// Gallery Section
.gallery {
    background-color: $LightLightBlue;
    padding: 75px 0;
    ul {
        display: flex;
        justify-content: space-between;
    }
    ul li {
        width: calc((100% / 3) - 20px);
    }
}

// Info Section
.info {
    padding: 50px 0;
    .topInfo,
    .bottomInfo {
        display: flex;
    }
    p {
        padding: 15px 30px;
    }
    h3 {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 3rem;
        line-height: 58px;
        letter-spacing: 3.2px;
        color: $SpruceGreen;
        margin-left: -60px;
        i {
            color: white;
            background-color: $GreenishCyan;
            padding: 15px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}

// Plan Location Section
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 58px;
    letter-spacing: 3.8px;
    color: $TwilightBlue;
}

.planLocation {
    background-color: $LightLightBlue;
    padding: 50px 0;
    .top,
    .bottom {
        width: 100%;
        display: flex;
    }
    .topImgContainer,
    .bottomImgContainer,
    .topTxtContainer,
    .bottomTxtContainer {
        width: 50%;
    }
    .topImgContainer {
        padding-right: 20px;
        padding-bottom: 20px;
        img {
            box-shadow: 10px 10px;
            color: $GreenishCyan;
        }
    }
    .bottomImgContainer {
        padding-left: 20px;
        padding-top: 20px;
        img {
            box-shadow: -10px 10px;
            color: $GreenishCyan;
        }
    }
    .topTxtContainer,
    .bottomTxtContainer {
        padding-left: 20px;
    }
}

// Background Beach
.backgroundBeach {
    background-image: url(../assets/banner-image.jpg);
    object-fit: cover;
    height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
}

// Free Trip Section
.freeTrip {
    text-align: center;
    padding: 100px;
    h4 {
        color: $SpruceGreen;
    }
}

// Footer Section
footer {
    text-align: center;
    color: $IceBlue;
    background-color: $Black;
}

footer p {
    margin-bottom: 0;
}

// BLOG PAGE STYLES
// Header
.heading {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 8.7rem;
    color: $IceBlue;
    margin-top: 15%;
}

.blogHeader {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Main
.blogMain {
    display: flex;
    justify-content: space-between;
    .leftSide {
        width: 55%;
        .blogPost {
            border-bottom: 5px solid $GreenishCyan;
            border-right: 5px solid $GreenishCyan;
            img {
                box-shadow: 10px 10px $GreenishCyan;
            }
            h4 {
                color: $SpruceGreen;
            }
            .dateAuthor {
                font-family: 'Lato', sans-serif;
                font-size: 2rem;
                font-weight: 400;
                font-style: italic;
                color: $TwilightBlue;
                letter-spacing: 1px;
            }
            .author {
                font-weight: 900;
            }
        }
        .postOne Img,
        .postTwo Img {
            width: 100px;
            height: 100px;
        }
    }
    // Comment Section
    h6 {
        font-family: 'Lato', sans-serif;
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: 1px;
        color: $Black;
    }
    .comments {
        h6 {
            margin: 50px 0;
        }
        .postOne,
        .postTwo {
            display: flex;
        }
        .postOne {
            margin-bottom: 30px;
        }
        .postTwo {
            margin-bottom: 50px;
        }
        .postOneImg,
        .postTwoImg {
            margin-right: 20px;
        }
        .postInfo {
            color: $TwilightBlue;
            font-weight: 700;
        }
        p {
            margin-bottom: 10px;
        }
    }
    .rightSide {
        width: 30%;
        margin-top: 150px;
        img {
            margin-bottom: 15px;
        }
        h6 {
            color: $TwilightBlue;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
        }
        .findMoreLink {
            font-family: 'Lato', sans-serif;
            font-size: 2rem;
            line-height: 32px;
            letter-spacing: 2px;
            color: $SpruceGreen;
            margin-bottom: 15px;
        }
        ul {
            font-size: 2.5rem;
        }
        li {
            list-style-type: disc;
            color: $GreenishCyan;
        }
        li p {
            color: $Black;
        }
    }
}

// Contact Page Styles
// Header
.contactHeader {
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contactMain {
    .contact {
        display: flex;
        margin-bottom: -20px;
    }
    form {
        position: relative;
        top: -150px;
        box-shadow: 10px 10px $GreenishCyan;
        padding: 50px;
        z-index: 2;
        background-color: $IceBlue;
        margin: 0;
    }
    form,
    .iconInfo {
        width: 48%
    }
    .iconInfo {
        padding-left: 150px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 150px;
        i {
            font-size: 2rem;
            color: $TwilightBlue;
            padding: 5px 10px;
        }
        p {
            margin-bottom: 2px;
        }
        .boldEmail {
            font-weight: 900;
        }
    }
}

// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display SC', serif;