@import "setup";
// Variables
$SpruceGreen: #0C5F4c;
$GreenishCyan: #50E3C2;
$TwilightBlue: #063974;
$LightLightBlue: #D2F9F1;
$IceBlue: #FAFFFE;
$Black: #2C2C2C;
// Style Stripping and defaults
html {
    font-size: 62.5%;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

header {
    height: 90vh;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

nav {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: $IceBlue;
    line-height: 29px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    padding-top: 10px;
}

nav ul li {
    padding: 10px;
    margin-left: 10px;
}

// Index Page, Header Section
header {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-style: italic;
    color: $GreenishCyan;
    font-size: 3.46rem;
    padding-top: 10px;
}

.indexHeader {
    .wrapper {
        position: relative;
    }
    .title {
        font-family: 'Playfair Display SC', serif;
        font-weight: 900;
        font-style: italic;
        font-size: 11.12rem;
        color: $TwilightBlue;
    }
    .indexHeading {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 6.2rem;
        letter-spacing: 6.7px;
        color: $SpruceGreen;
    }
    .titleContainer {
        width: 100%;
        height: 100%;
        margin-top: 15%;
        margin-left: 35%;
        position: relative;
        z-index: 1;
    }
    .headerImgContainer {
        width: 45%;
        position: absolute;
        top: 25%;
        z-index: 0;
        min-width: 600px;
    }
}

// Index About Section
.findMore,
.readMore {
    padding: 10px;
    background-color: $TwilightBlue;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 1px;
    color: $IceBlue;
}

.about {
    background-color: $IceBlue;
    padding: 100px 0 75px 0;
    .wrapper {
        display: flex;
    }
    .aboutImgContainer {
        width: 30%;
        img {
            box-shadow: -15px 15px $GreenishCyan;
        }
    }
    .aboutContainer {
        width: 70%;
        padding-right: 50px;
    }
    h2 {
        font-family: 'Lato', sans-serif;
        font-size: 6.2rem;
        font-weight: bold;
        line-height: 58px;
        letter-spacing: 3.8px;
        color: $SpruceGreen;
    }
}

// Gallery Section
.gallery {
    background-color: $LightLightBlue;
    padding: 75px 0;
    ul {
        display: flex;
        justify-content: space-between;
    }
    ul li {
        width: calc((100% / 3) - 20px);
    }
}

// Info Section
.info {
    padding: 50px 0;
    .topInfo,
    .bottomInfo {
        display: flex;
    }
    p {
        padding: 15px 30px;
    }
    h3 {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 3rem;
        line-height: 58px;
        letter-spacing: 3.2px;
        color: $SpruceGreen;
        margin-left: -60px;
        i {
            color: white;
            background-color: $GreenishCyan;
            padding: 15px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}

// Plan Location Section
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 58px;
    letter-spacing: 3.8px;
    color: $TwilightBlue;
}

.planLocation {
    background-color: $LightLightBlue;
    padding: 50px 0;
    .top,
    .bottom {
        width: 100%;
        display: flex;
    }
    .topImgContainer,
    .bottomImgContainer,
    .topTxtContainer,
    .bottomTxtContainer {
        width: 50%;
    }
    .topImgContainer {
        padding-right: 20px;
        padding-bottom: 20px;
        img {
            box-shadow: 10px 10px;
            color: $GreenishCyan;
        }
    }
    .bottomImgContainer {
        padding-left: 20px;
        padding-top: 20px;
        img {
            box-shadow: -10px 10px;
            color: $GreenishCyan;
        }
    }
    .topTxtContainer,
    .bottomTxtContainer {
        padding-left: 20px;
    }
}

// Background Beach
.backgroundBeach {
    background-image: url(../assets/banner-image.jpg);
    object-fit: cover;
    height: 50vh;
    width: 100%;
}

// Free Trip Section
.freeTrip {
    text-align: center;
    padding: 100px;
    h4 {
        color: $SpruceGreen;
    }
}

// Footer Section
footer {
    text-align: center;
    color: $IceBlue;
    background-color: $Black;
}

// BLOG PAGE STYLES
// Header
// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display SC', serif;